.nav-active-link-cn {
  color: #12582D;
}

.search-inputt-cn {
  height: 38px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid #e0e0e0;
  border-left: 0;
}

.search-inputt-cn:focus {
  box-shadow: unset;
  border-color: #e0e0e0 !important;
}

.search-btnn-cn {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid #e0e0e0;
  border-right: 0;
  left: 70px;
  height: 38px;
}

.search-type-cn {
  background-color: transparent;
  top: -2px;
  left: 50px;
  height: 38px;
}

.search-type-cn > a {
  color: #12582D;
}

.search-btn-cn:focus {
  box-shadow: unset;
}

.search-icon-cn {
  font-size: 14px;
  color: #12582D;
}

.form-control::placeholder {
  color: #bdbdbd !important;
}

.form-control:focus {
  border-color: #e0e0e0;
}

.dropdown-toggle::after {
  display: none;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show > .nav-link.n-l-c-cn {
  color: #12582D;
}

.navbar-dark .navbar-nav .nav-link.n-l-c-cn {
  color: #222 !important;
  /* font-size: 15px; */
  font-weight: 400;
  margin-right: 10px;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #12582D !important;
}

.acc-cn p {
  font-size: 14px;
  height: 5px;
}

#search-form-id {
  width: 350px;
}

#search-form-id ul {
  width: 290px;
  left: -30px !important;
}

#search-type-projects-new {
  font-size: 10px;
  padding: 3px 8px;
  background-color: #0073d2;
  color: white;
}

.second-nav-cn {
  background-color: #2E6421;
}

.second-nav-cn ul li a {
  color: #FFFFFF;
  font-size: 14px;
  margin-right: 16px;
}

.second-nav-cn ul li a:hover {
  color: #bb7aff;
}

.login-btn-cn:hover {
  color: #12582D;
}

.signup-btn-cn {
  background-image: linear-gradient(92.88deg, #12582D 9.16%, #316027 43.89%, #1F8346 64.72%);
  font-size: 13px;
  color: white;
}

.signup-btn-cn:hover {
  background: linear-gradient(92.88deg, #12582D 9.16%, #316027 43.89%, #6058c4 64.72%);
  color: white;
}

#find-freelancer-dd-id {
  top: 53px;
  width: 750px;
}
/* [dir="rtl"] #find-freelancer-dd-id {
  width: 635px;
  left: -435px;
} */
#find-freelancer-dd-id ul li a,
#find-work-dd-id ul li a {
  padding: 12px 0;
  font-size: 13px;
}
/* [dir="rtl"] #find-work-dd-id {
  left: -430px;
}
[dir="rtl"] #why-work-dd-id {
  left: -130px;
}
[dir="rtl"] #find-freelancer-dd-id ul li a,
[dir="rtl"] #find-work-dd-id ul li a,
[dir="rtl"] .waysToHire-cn div div a p,
[dir="rtl"] #why-work-dd-id li a {
  font-size: 18px !important;
} */

#find-freelancer-dd-id ul li a:hover,
#find-work-dd-id ul li a:hover,
#why-work-dd-id li a:hover {
  background-color: transparent;
  color: #12582D;
}

#find-freelancer-dd-id a p {
  font-size: 13px;
  color: #222;
}

#find-freelancer-dd-id a p:last-child {
  margin-top: -10px;
}

#find-freelancer-dd-id div a:hover p {
  color: #12582D;
}

#find-freelancer-dd-id div a,
#find-work-dd-id div a {
  color: #222;
}

#find-freelancer-dd-id div a:hover,
#find-work-dd-id div a:hover {
  color: #12582D;
}

#find-work-dd-id {
  top: 53px;
  width: 530px;
}
/* [dir="rtl"] .search-btnn-cn {
  left: -320px;
}

[dir="rtl"] .search-type-cn {
  display: none;
}
[dir="rtl"] #search-form-id {
  width: 350px;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
[dir="rtl"] .navbar-dark .navbar-nav .nav-link.n-l-c-cn,
[dir="rtl"] .second-nav-cn ul li a {
  font-size: 20px;
} */
