.fs-h1-cn {
  font-size: 45px;
  line-height: 95px;
  color: #1d4354;
}

.fs-p-cn {
  color: #1d4354;
}

.fs-btns-cn {
  background-image:  linear-gradient(92.88deg, #12582D 9.16%, #316027 43.89%, #1F8346 64.72%);
  color: white;
  box-shadow: none;
}
.fs-btns-cn:hover {
  color: white !important;
  background: linear-gradient(92.88deg, #12582D 9.16%, #316027 43.89%, #6058c4 64.72%);
}

.fs-btns-cn button:last-child {
  color: #12582D;
  box-shadow: none;
}

.fs-btns-cn button:first-child:hover {
  background-color: #6058c4;
}

.fs-abs-img-cn {
  left: 53%;
  top: 24.5%;
  padding: 5px;
  background-color: white;
}
[dir="rtl"] .fs-h1-cn {
  font-weight: bold;
}
[dir="rtl"] .fs-abs-img-cn {
  left: -15%;
}
[dir="rtl"] .fs-btns-cn {
  font-size: 15px;
}
